* {
    margin: 0px;
    padding: 0px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 20px 0;
}

.mainTitle{
    font-size: 35px;
    color: rgb(35, 236, 9);
    margin: 30px 0;
    text-shadow: 1px 1px 1px black;
}

.selection {
    display: flex;
    flex-direction: column;
}

.selector {
    padding: 10px 10px;
    font-size: 18px;
    font-weight: 500;
    width: auto;
    margin-bottom: 20px;
}

.category-title{
    font-size: 20px;
    color: rgb(56, 56, 56);
    margin-bottom: 5px;
    font-weight: 400;
}

.gender{
    display: flex;
    align-items: center;
    gap : 10px;
    margin-bottom: 5px;
}

.submit-btn{
    background-color: rgb(0, 119, 255);
    color: white;
    padding: 10px;
    font-size: 15px;
    border-radius: 5px;
    border: 0;
    margin: 20px 0;
}